<form autocomplete="off">
    <section id="connected-devices">
        <header>
            <h2>Connected Pixels</h2>
            {{#each pixels as |config|}}
            <div class="pixel flexrow {{config.cssClass}}" data-pixel-id="{{config.name}}">
                <h3>
                    <i class="fa-solid {{config.denominationIcon}}"></i>
                    {{config.name}}
                    <span class="denomination">({{config.denomination}})</span>
                </h3>
                <span class="rssi"><i class="fa-solid {{config.connectionIcon}}"></i> {{config.rssi}}</span>
                {{#if battery}}
                <span class="battery"><i class="fa-solid fa-battery-full"></i> {{config.battery}}</span>
                {{/if}}
                <button type="button" class="flex0" data-action="disconnectPixel" data-tooltip="{{config.disconnectTooltip}}">
                    <i class="fa-solid fa-times"></i>
                </button>
            </div>
            {{/each}}
        </header>

        <footer class="flexrow">
            <button type="button" data-action="requestPixel">
                <i class="fa-solid fa-plus"></i>
                Add Pixel Dice
            </button>
            <button type="submit">
                <i class="fa-solid fa-check"></i>
                Complete
            </button>
        </footer>
    </section>
</form>
